<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'CodingLibraryApp/css/style.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'CodingLibraryApp/js/script.js' %}"></script>
    <title>Index</title>
</head>
<body>

    <div class="topic">
        <p>Content</p>
    </div>
    
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="main.html">Index</a>
        <div>

        </div>
        <a href="#">Python</a>
        <ul>
            <li>Flask</li>
            <li>Django</li>
        </ul>
        <a href="#">JavaScript</a>
        <a href="#">C#</a>
      </div>
      
      <div id="main">
        <h2>Sidenav Push Example</h2>
        <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
    
    <!-- Dynamically Generate Notes from database -->
    {% for note in all_notes %}
    <button class="accordion">{{note.title}}</button>
    <div class="panel">
        <ul>
        {% for comment in NoteComments %}
            {% if comment.parent.id == note.id %}
            <li>{{ comment.content }} <a href="#" class="edit" onclick="ToggleEditForm('{{comment.id}}')"><i class="far fa-edit"></i></a><a href="delete/comment/{{comment.id}}"><i class="far fa-trash-alt"></i></a> </li>
            <form action="edit/comment/{{comment.id}}" method="POST" class="editForm{{comment.id}} hiddenForm">
                {% csrf_token %}
                <textarea name="NoteComment_content" cols="30" rows="1" placeholder="{{comment.content}}">{{comment.content}}</textarea>
                <button>Update</button>
            </form>
            {% endif %}
        {% endfor %}
        
        <form action="new/comment/{{note.id}}" method="POST">
            {% csrf_token %}
            <textarea name="NoteComment_content" cols="30" rows="1"></textarea>
            <button>Add</button>
        </form>
        </ul>
        
    </div>
    {% endfor %}

    <!-- Allow user to add a new note -->
    <button class="accordion">+</button>
    <div class="panel">
        <form action="new" method="POST">
            {% csrf_token %}
            <input type="text" name="note-title">
            <select name="note-category" class="form-control selection">
                <option value="all">all</option>
                {% for category in list_of_sub_categories %}
                <option value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
            </select>
            <textarea name="note-content" cols="30" rows="1"></textarea>
            <button>Add</button>
        </form>
    </div>

    

</div>

</body>
</html>