{% for note in all_notes %}
<button class="accordion"><span class="note_title">{{note.title}}</span> [{{note.category}}]<br>{{note.created_at}}<br><a href="#" class="edit" onclick="ToggleEditFormNote('{{note.id}}')"><i class="far fa-edit"></i></a><a href="delete/note/{{note.id}}"><i class="far fa-trash-alt"></i></a> </button>
<form action="edit/note/{{note.id}}" method="POST" class="editFormNote{{note.id}} hiddenForm">
    {% csrf_token %}
    <textarea name="Note_title" cols="30" rows="1">{{note.title}}</textarea>
    <button>Update</button>
</form>
<div class="panel">
<ul>
    {% for comment in NoteComments %}
        {% if comment.parent.id != note.id %}
        <p>Index.html</p>
        <li onclick="ToggleEditForm('{{comment.id}}')" id="comment{{comment.id}}">{{ comment.content }} <a href="#" class="edit" onclick="ToggleEditForm('{{comment.id}}')"><i class="far fa-edit"></i></a><a href="delete/comment/{{comment.id}}"><i class="far fa-trash-alt"></i></a> </li>
        <!-- <form action="edit/comment/{{comment.id}}" method="POST" class="editForm{{comment.id}} hiddenForm">
            {% csrf_token %}
            <textarea name="NoteComment_content" cols="30" rows="1" placeholder="{{comment.content}}">{{comment.content}}</textarea>
            <button>Update</button>
        </form> -->
        {% endif %}
    {% endfor %}
</div>
   
<form action="new/comment/{{note.id}}" method="POST" note-id="{{note.id}}" class="commentForm">
    {% csrf_token %}
    <textarea name="NoteComment_content" cols="30" rows="1"></textarea>
    <button>Add</button>
</form>
</ul>
    
{% endfor %}